@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Large screens */
  @media (min-width: 1200px) {
    .canvas {
      width: 100%; /* Set your desired width */
      height: 750px; /* Set your desired height */
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1199px) {
    .canvas {
      width: 100%; /* Set your desired width */
      height: 750px; /* Set your desired height */
    }
  }
  
  /* Small screens */
  @media (max-width: 767px) {
    .canvas {
      width: 100%; /* Full width for small screens */
      height: 750px; /* Set your desired height */
    }
  }