@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
    border: 2px solid black;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: crosshair;
    width: 100%;
    height: 100%;
  }

  .bg-home {
    background-image: url('/home.png'); /* Correct way to reference the image */
    background-size: cover;
    background-position: center;
  }

  .add{
    background-image: url('/add.png'); /* Correct way to reference the image */
    background-size: cover;
    background-position: center;
  }

  .clean{
    background-image: url('/clean.png'); /* Correct way to reference the image */
    background-size: cover;
    background-position: center;
  }
  
  /* Large screens */
  @media (min-width: 1200px) {
    .canvas {
      width: 100%; /* Set your desired width */
      height: 900px; /* Set your desired height */
    }

    .bg-home{
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }

    .add{
        margin-top: 10px;
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

    .clean{
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1199px) {
    .canvas {
      width: 100%; /* Set your desired width */
      height: 1150px; /* Set your desired height */
    }
    .bg-home{
        margin-top: 8px;
        width: 30px;
        height: 30px;
    }
    .add{
        margin-top: 8px;
        margin-left: 10px;
        width: 30px;
        height: 30px;
    }
    .clean{
        width: 30px;
        height: 30px;
    }
  }
  
  /* Small screens */
  @media (max-width: 767px) {
    .canvas {
      width: 100%; /* Full width for small screens */
      height: 800px; /* Set your desired height */
    }
    .bg-home{
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }
    .add{
        margin-top: 5px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
    }
    .clean{
        width: 20px;
        height: 20px; 
    }
  }